@{
    ViewBag.Title = "Education - The Nest";
    Layout = "~/Views/Shared/_LayoutTheNest.cshtml";
}

<div class="trsc-top-header">
        <h2 class="content-page-headings">Education</h2>
</div>

<div class="container trsc-top-gradient">
    <div class="text-center">
        <img src="~/Content/images/icons/the-nest.svg" alt="Nest Image" style="height:100px; width:100px; margin:0 auto;"/>
        <h2>Welcome to The Nest!</h2>
        <div class="trsc-partner-form">
            <div class="trsc-partner-form">
                <h3>We're here to help you along your clinical trial journey.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row trsc-nest-icons" style="margin: 0 auto; margin-top:30px; margin-bottom:30px;">
        <div class="col-12 col-md-3">
            <a href="~/TheNest/FAQs">
                <p><img src="~/Content/images/icons/faqs.svg" alt="FAQ Image" /></p>
                <h6>FAQs</h6>
                <p>Common questions <br /> shared by others </p>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="~/TheNest/ClinicalResearch101">
                <p><img src="~/Content/images/icons/clinical-research-101.svg" alt="Clinical Research 101 Image" /></p>
                <h6>Clinical Research 101</h6>
                <p>Learn the basics<br /> and get started</p>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="~/TheNest/Definitions">
                <img src="~/Content/images/icons/definitions.svg" alt="Definitions Image" />
                <h6>Definitions</h6>
                <p>Terms often used in <br /> clinical trials</p>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="https://blog.trialscout.com/clinical-trials-patients">
                <p><img src="~/Content/images/icons/useful-forms.svg" alt="Articles Image" /></p>
                <h6>Blog</h6>
                <p>Discover useful <br /> articles &amp; videos</p>
            </a>
        </div>
    </div>
</div>