
@{
    ViewBag.Title = "Our Story";
    Layout = "~/Views/Shared/_LayoutContentPages.cshtml";
}


<div class="trsc-top-gradient-simple-content">
    <div class="container">
        <h2>Our Story</h2>
    </div>
</div>


<div class="container">
    <p>Who are we? We&rsquo;re a team of doctors, nurses, researchers and computer scientists who understand the frustrations people experience in finding a clinical trial that is right for them.&nbsp;</p>
    <p>We believe that looking for a clinical trial and choosing a research center should be as easy as possible. And we want to provide a place for patients to give feedback about their trial experiences. Many patients enroll in clinical trials because of a sense of community &ndash; they want help other patients benefit from new treatments. Providing ratings and reviews about their experience at a research center is another way of giving back. It helps other patients choose the right research center while helping research centers better serve the people enrolled in their studies.&nbsp;</p>
    <p>We know there is a ton of information about clinical trials online already. However, much of this material can be confusing, overwhelming and may not be from a source you trust. That&rsquo;s why TrialScout offers clear, easy to understand information with total transparency.</p>
</div>

<section class="our-trsc-team padding-lg">
    <div class="trsc-top-gradient-simple-content">
        <div class="container">
            <h2>Our Team</h2>
        </div>
    </div>
    <div class="container">
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure>
                        <img src="~/Content/ourteam/Khan_Irfan.png" class="img-responsive teamPhoto" alt="" />
                    </figure>
                    <h3>Dr. Irfan Khan</h3>
                    <p>Chief Executive Officer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:ikhan@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/irfan-khan-md-720a3144/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Hicks_Dave.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Dave Hicks</h3>
                    <p>Chief Technology Officer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:dhicks@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dave-hicks-832a479/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Stapell_RJ.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Raymond Stapell</h3>
                    <p>Chief Administrative Compliance Officer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:rjstapell@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rjstapell/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Lencke_Steve.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Steve Lencke</h3>
                    <p>Chief Financial Officer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:slencke@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/steve-lencke-62490610/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
    
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Fisher_Michelle.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Michelle Fisher</h3>
                    <p>Director of Operations</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:mfisher@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/michellefishercpacia/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Butzler_Steve.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Steve Butzler</h3>
                    <p>TrialScout Group Lead</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:sbutzler@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/stephenbutzler/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Holub_Rose.jpg" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Rose Holub</h3>
                    <p>Regulatory Compliance Manager</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:rholub@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rose-holub-64777a102/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Pollinger_Rachael.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Rachael Pollinger</h3>
                    <p>Marketing Lead</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:rpollinger@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rachael-pollinger-8562742b/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Myers_Colin.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Colin Myers</h3>
                    <p>Product Owner</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:cmyers@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/colin-myers-449364ba/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Straw_Mike.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Michael Straw</h3>
                    <p>Development Lead</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:mstraw@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/michaelstrawjr/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Hubbell_Ryan.jpg" style="transform: rotate(90deg);-ms-transform: rotate(90deg); -webkit-transform:rotate(90deg);"class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Ryan Hubbell</h3>
                    <p>Growth Lead</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:rhubbell@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ryan-hubbell-352806a7/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>

            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Martinez_Kayla.jpg" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Kayla Martinez</h3>
                    <p>Customer Success Lead</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:kmartinez@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/kayla-martinez-7ab4b1182/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Adepoju_Bosun.jpg" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Bosun Adepoju</h3>
                    <p>Developer<p>
                        <ul class="follow-us clearfix">
                            <li><a href="mailto:badepoju@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/bosun-a-a47a03108/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Waller_John.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>John Waller</h3>
                    <p>Developer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:jwaller@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        @*<li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>*@
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="cnt-block equal-hight" style="height: 400px;">
                    <figure><img src="~/Content/ourteam/Beecher_Jack.png" class="img-responsive teamPhoto" alt="" /></figure>
                    <h3>Jack Beecher</h3>
                    <p>Data Analyst</p>
                    <ul class="follow-us clearfix">
                        <li><a href="mailto:jbeecher@trialscout.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jack-beecher-a2323915a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
</ul>
    </div>
</section>
