
@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<style>
    .partnersimg {
        float: left;
        width: 100%;
        padding: 30px 20px;
        text-align: center;
        margin: 0 0 28px;
    }
    
    .partnersimg img {
        width: auto;
        height: auto;
        border-radius: 0;
        max-width: 200px;
        max-height: 200px;
    }

    
</style>

<div class="trsc-top-header">
    <h2 class="content-page-heading-cr101">Our Partners</h2>
</div>
<br />


    <div class="container">
        <section class="our-trsc-team padding-lg">
            <div class="trsc-top-gradient-simple-content">
                <div class="container">
                    <h2>Sponsors</h2>
                </div>
            </div>
            <div class="container">
                <ul class="row">
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure>
                                <img src="~/Content/images/Partners/23andMe-Logo-e1568208562576-300x232 (1).png" class="img-responsive teamPhoto" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/jannssen.png" class="img-responsive teamPhoto" alt="" /></figure>

                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/merck-logo.png" class="img-responsive teamPhoto" alt="" /></figure>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/pfizer-120.png" class="img-responsive teamPhoto" alt="" /></figure>

                        </div>
                    </li>


                </ul>
            </div>
        </section>
        <section class="our-trsc-team padding-lg">
            <div class="trsc-top-gradient-simple-content">
                <div class="container">
                    <h2>CROs</h2>
                </div>
            </div>
            <div class="container">
                <ul class="row">
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure>
                                <img src="~/Content/images/Partners/icon_final-300x90.png" class="img-responsive teamPhoto" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/syneos_final-300x135.png" class="img-responsive teamPhoto" alt="" /></figure>

                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="our-trsc-team padding-lg">
            <div class="trsc-top-gradient-simple-content">
                <div class="container">
                    <h2>Service Providers</h2>
                </div>
            </div>
            <div class="container">
                <ul class="row">
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure>
                                <img src="~/Content/images/Partners/Bio-Optronics-web.png" class="img-responsive teamPhoto" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/Medidata_Logo_Color_RGB-crop.svg_-300x47.png" class="img-responsive teamPhoto" alt="" /></figure>

                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="partnersimg equal-hight" style="height: 100px;">
                            <figure><img src="~/Content/images/Partners/Greenphire.png" class="img-responsive teamPhoto" alt="" /></figure>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>
