
@{
    ViewBag.Title = "Payment Policy";
    Layout = "~/Views/Shared/_LayoutContentPages.cshtml";
}
<div class="trsc-top-gradient-simple-content">
    <div class="container">
        <h2>TrialScout™ Payment Policy</h2>
    </div>
</div>


<div class="container trsc-ct101">
    <p><strong>TrialScout&trade; Payment Terms</strong></p>
    <p>1.1 SUBSCRIPTION TERMS&nbsp;</p>
    <p>The TrialScout Platform is an online service that enables registered clinical research centers (&ldquo;<strong>Subscribers</strong>&rdquo;), certain third parties who support clinical research centers (&ldquo;<strong>Sponsors</strong>&rdquo;) and organizations that are focused on a specific condition or set of conditions looking to help and educate other people about the condition (&ldquo;<strong>Advocacy Groups</strong>&rdquo;) to publish information about their clinical research activities (&ldquo;<strong>Subscriber Services</strong>&rdquo;) and to communicate with individuals who are searching for information about clinical trials for themselves or on behalf of another individual (&ldquo;<strong>Seekers</strong>&rdquo;), or individuals who want to rate their experience at a given research center (&ldquo;<strong>Raters</strong>&rdquo;). Subscriber Services may include providing the following information: 1) contact information for Seekers to learn more about clinical trials at the Subscriber&rsquo;s physical site; 2) descriptive information about the research centers research staff, including biographies, pictures or videos; 3) descriptive information about the clinical research center&rsquo;s experience or clinical research recognition received; or 4) information about the facilities, including locations, patient access and equipment.&nbsp;</p>
    <p>The basic subscription (&ldquo;<strong>Plan</strong>&rdquo;) includes the following services and benefits (&ldquo;<strong>Services</strong>&rdquo;):</p>
    <ul>
        <li>Brand Placement: Subscribers may submit their logo to <a href="mailto:partners@trialscout.com">partners@trialscout.com</a> to be displayed on the homepage of TrialScout, as well as all nonsubscriber profiles and study pages within the Subscriber&rsquo;s zip code catchment. Subscribers will also be provided preferential placement on the search results page for relevant medical conditions and locations.</li>
    </ul>
    <ul>
        <li>Enhanced Profile: Subscribers may upload their logo, request to change their research center name, upload a search description, summary, address, phone number, website URL, select relevant departments, and upload up to four images to enhance their profile on TrialScout and preferential placement in search results.&nbsp;</li>
    </ul>
    <ul>
        <li>Subscriber Site Promotion: Subscribers receive promotion of their research program with pharmaceutical and contract research organization partners.&nbsp;</li>
    </ul>
    <ul>
        <li>Reporting &amp; Analytics: Subscribers will receive detailed survey information from their ratings to identify potential opportunities for improvement as well as their strengths to highlight in the Subscriber Site Promotion.</li>
    </ul>
    <p>In addition to the basic Plan, TrialScout can provide other services which will be designed on an individual basis for the specific Subscriber (&ldquo;<strong>Bundled Services</strong>&rdquo;). The terms and conditions, including development fees and subscription fees, will be based on the content and functionality of the Bundled Services on a case by case basis and will be documented by a separate contact between us and the Subscriber.&nbsp;</p>
    <p>As part of your registration for the Services, which may begin with a Free Trial (as defined in Section 1.3). Each subscription period for your Plan will be based on the subscription period chosen/sold (e.g. annually, bi-annually, quarterly, monthly). You may choose to be billed for the Plan annually or in less than annual increments (e.g. monthly or bi-annually), but regardless of your billing cycle, you are responsible for subscription fees for the entire subscription period chosen/sold.&nbsp;</p>
    <p>At the end of your current subscription period, your Plan will automatically renew for a subscription period equal to your prior subscription period unless you provide TrialScout with email notice (sent to <a href="mailto:billing@trialscout.com">billing@trialscout.com</a>) of your intent not to renew your Plan at least thirty (30) days prior to the end of the then-current subscription period.&nbsp;</p>
    <p>To view the specific details of your Plan, including pricing information and the end date of your subscription period, login to your account on the TrialScout Website&nbsp;and click &ldquo;Profile&rdquo; and then &ldquo;Billing&rdquo; or contact us at <a href="mailto:billing@trialscout.com">billing@trialscout.com</a>.</p>
    <p>2 BILLING POLICIES, REFUND TERMS</p>
    <ul>
        <li>The fees for your Plan are billed in advance of each billing cycle.&nbsp;</li>
    </ul>
    <ul>
        <li>In the event you cancel your Plan, no refunds or credits will be provided for partial or unused months of the Services.</li>
    </ul>
    <ul>
        <li>Any discounts applied to a previous subscription may not apply to a renewed subscription, including to any automatic renewals.</li>
    </ul>
    <p>1.3 FREE TRIAL&nbsp;</p>
    <p>Subscriptions to the Services may begin with a free trial period during which you can try out the Services for 30 days from the date you register (&ldquo;Free Trial Period&rdquo;).&nbsp;</p>
    <p>You are required to enter your billing information in order to sign up for the Free Trial Period. You will not be charged until the Free Trial Period ends. You may cancel your Plan at any time during the Free Trial Period by following the steps described in section 1.7 (&ldquo;Account Cancellation&rdquo;). Upon cancelling your account, you will immediately lose all access to the Services and any data or information stored within your account. TrialScout reserves the right to modify, cancel and/or limit the Free Trial Period without notice at any time.</p>
    <p>1.4 CHANGES IN FEES&nbsp;</p>
    <p>We may change the fees for the Services at any time or impose additional fees or charges.</p>
    <p>Such changes will be effective as of the first billing cycle that occurs more than thirty (30) days after notice of our new fees.&nbsp;</p>
    <p>1.5 PAYMENT OF FEES&nbsp;</p>
    <p>As an express condition of your use of and access to the Services, you agree to pay all fees applicable to your Plan, any other fees for additional services you may purchase, and any applicable taxes in connection with your use of the Services. We will bill the fees due under your Plan to the credit card you provide to us during registration (or to a different credit card if you change your payment information). You acknowledge that the amount billed for each renewal period may vary due to changes in your Plan Services, and changes in applicable taxes, and you authorize us to bill you the corresponding amounts. We reserve the right to deactivate your access to the Services for failure to pay applicable fees as described in this Agreement. Unless otherwise stated, all fees are stated in U.S. Dollars.</p>
    <p>1.6 CREDIT CARD PAYMENTS&nbsp;</p>
    <p>All fees for your Plan will be billed to your credit card. You authorize the card issuer to pay any amounts described herein and associated with your Plan and authorize us (or a billing agent acting on our behalf) to continue charging all such amounts to your credit card account until you or we, cancel or terminate your Plan as provided herein or these amounts are paid in full, whichever is later. You must provide current, complete and accurate billing and credit card information. You must promptly update all billing information (such as billing address, card number and expiration date) to keep your account current, complete and accurate, and you must promptly contact TrialScout if your credit card is lost or stolen, or if you become aware of a potential breach of account security (such as an unauthorized disclosure or use of your TrialScout username or password). You authorize us to obtain or determine updated or replacement expiration dates for your credit card in the event that the credit card you provided us expires. We reserve the right to charge any renewal card issued to you to the same extent as the expired card. If payment is not received from your credit card issuer, you agree to pay all amounts due upon demand. You agree to pay all costs of collection, including attorney&rsquo;s fees and costs, on any outstanding balance. In certain instances, the issuer of your credit card may charge you a foreign transaction fee or related charges, which you will be responsible to pay. Please check with your bank and credit card issuer for details.</p>
    <p>1.7 ACCOUNT CANCELLATION&nbsp;</p>
    <p>You may cancel your Plan upon 30 days-notice by either calling us and speaking to an authorized account representative or sending an email to <a href="mailto:billing@trialscout.com">billing@trialscout.com</a>. For clarity, if you cancel your plan prior to the conclusion of your current subscription period, you will remain responsible for payment for all subscription fees through the conclusion of your current subscription period. If you cancel your Plan, you will lose all access, upon the expiration of your current pre-paid period, to the Services and any data or information stored in your account.</p>
    <p>The <a href="https://htmlcheatsheet.com/" target="_blank">online HTML CheatSheet</a> website shoult be the first bookmark of every web developer. It is the best one-page resource to generate the desired markup.</p>
</div>
