
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_LayoutContentPages.cshtml";
}

<h2 id="resourcehead" class="text-center">Resources</h2>

<div class="container">
    <h6 id="resources-intro">We want to make TrialScout easily recognizable for all. When creating visual or written expressions of TrialScout, please refer to the following guidelines and tools to achieve consistency and make sure the branded elements of TrialScout are used in the best method possible.</h6>
</div>

<section class="faq">
    <ul class="sections">
        <li><a class="selected" href="#downloads">Downloadable Assets</a></li>
        <li><a href="#logos">TrialScout Logos</a></li>
        <li><a href="#plugins">Responsive Plugins</a></li>
        <li><a href="#linking">Link to Your Site</a></li>
        <li><a href="#terms">Additional Terms</a></li>
    </ul> <!-- sections -->

    <div class="faq-items">
        <ul id="downloads" class="resource-group">
            <li class="resource-title"><h3>Downloadable Assets</h3></li>
            <li>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <b>TrialScout Brand Guidelines</b>
                        <img class="img-fluid book mx-auto d-block" src="~/Content/images/BrandGuide.PNG" width="250" />
                        <br />
                        <div class="row">
                            <a href="~/Content/Resources/BrandGuidelines.zip" class="btn btn-primary resource-files"><i class="fas fa-file-download"></i> Download Files</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <b>TrialScout E-Book</b>
                        <img class="img-fluid book mx-auto d-block" src="~/Content/images/EbookCover.PNG" width="250" />
                        <br />
                        <div class="row">
                            <a href="~/Content/Resources/EBook.zip" class="btn btn-primary resource-files"><i class="fas fa-file-download"></i> Download Files</a>
                        </div>
                    </div>
                </div>
            </li>



        </ul> <!-- resource-group -->

        <ul id="logos" class="resource-group">
            <li class="resource-title"><h3>TrialScout Logos</h3></li>
            <li>
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        <img class="img-fluid" src="~/Content/images/TSSVGWTag.svg" width="350" />
                        <img class="img-fluid" src="~/Content/images/TSDarkWithTag.png" width="350" />
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <b>Primary Logos w/ Tagline</b>
                        <p>
                            The tagline logo is a combination of the TrialScout logo and our tagline. Including the tagline helps to communicate who we are, what we do, and how we do it. The TM should always appear with the logo.
                        </p>
                        <div class="row">
                            <a href="~/Content/Resources/PrimaryLogoswTagline.zip" class="btn btn-primary resource-files"><i class="fas fa-file-download"></i> Download Files</a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        <img class="img-fluid" src="~/Content/images/TS-Logo.NO Tagline_H-FullColor_WHITE background_new.png" width="350" />
                        <br /><br />
                        <img class="img-fluid" src="~/Content/images/TSDarkNoTag.png" width="350" />

                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <b>Primary Logos w/o Tagline</b>
                        <p>
                            The TrialScout full color logo on light is the primary logo and should be used whenever possible. The TrialScout full color logo on dark can be used on applications that require a dark background. The TM should always appear with the logo.

                        </p>
                        <div class="row">
                            <a href="~/Content/Resources/PrimaryLogoswoTagline.zip" class="btn btn-primary resource-files"><i class="fas fa-file-download"></i> Download Files</a>
                        </div>
                    </div>
                </div>


            </li>
        </ul> <!-- resource-group -->

        <ul id="plugins" class="resource-group">
            <li class="resource-title"><h3>Responsive Plugin</h3></li>
            <li>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="~/Content/images/PluginImage.PNG" />
                        @*<div id="TSWidget"></div>*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <h4>Instructions</h4>
                        <b>Copy/Paste the following Javascript code into the footer of the page where the plugin will sit</b>
                        <pre class="pluginsnip">
                        <code>&lt;script src="http://www.circuitclinicaltesting.com/TSWidget/WidgetScript.js"&gt;&lt;/script&gt;</code>
                        </pre>
                        <b>Copy/Paste the following HTML tag in the main body location on the page where you want the plugin to sit.</b>
                        <pre class="pluginsnip">
                        <code>&lt;div id="TSWidget"&gt;&lt;/div&gt;</code>
                        </pre>
                    </div>
                </div>
            </li>
        </ul> <!-- resource-group -->
        <ul id="linking" class="resource-group">
            <li class="resource-title"><h3>Link to Your Site</h3></li>
            <li>
                <div class="row">
                    <div class="col-12">
                        <p>If you choose to link to TrialScout.com, you can link directly to your site's profile page by following the steps below:</p>
                        <p class="linking-steps"><strong>Profile Linking</strong></p>
                        <ol>
                            <li>Go to <a href="https://trialscout.com/Home/LookUpResearchCenter">Look Up a Research Center</a></li>
                            <li>Search for your location, and visit your profile page.</li>
                            <li>Copy URL from the address bar</li>
                        </ol>
                        <br/>
                        <p class="linking-steps"><strong>Ratings Page Linking</strong></p>
                        <ol>
                            <li>Go to <a href="https://trialscout.com/Home/LookUpResearchCenter">Look Up a Research Center</a></li>
                            <li>Search for your location, and visit your profile page.</li>
                            <li>Select the <em>"Rate this research location"</em> button</li>
                            <li>Copy URL from the address bar</li>
                        </ol>

                    </div>
                </div>
            </li>
        </ul> <!-- resource-group -->
        <ul id="terms" class="resource-group">
            <li class="resource-title"><h3>Additional Terms</h3></li>
            <li>
                <div class="row">
                    <div class="col-12">
                        <p>If you use any of the TrialScout logos, colors, images, or plugins approved for use under the Brand Guidelines, you agree that you will do so in compliance with the terms and conditions indicated on this page. If you do so, TrialScout grants you a non-transferable, non-exclusive, royalty-free limited license to use the TrialScout brand.</p>
                        <p>TrialScout reserves the right in its sole discretion to terminate or modify your permission to display the TrialScout branding and to take action against any use that does not conform to these guidelines, violates TrialScout's Terms of Service, or violates law. </p>
                    </div>
                </div>
            </li>
        </ul> <!-- resource-group -->
    </div> <!-- faq-items -->
    <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- faq -->

@*<script src="http://www.circuitclinicaltesting.com/TSWidget/WidgetScript.js"></script>*@
<script>
    jQuery(document).ready(function ($) {

        var MqM = 992,
            MqL = 1024;

        var faqsSections = $('.resource-group'),
            faqTrigger = $('.trigger'),
            faqsContainer = $('.faq-items'),
            faqssectionsContainer = $('.sections'),
            faqssections = faqssectionsContainer.find('a'),
            closeFaqsContainer = $('.cd-close-panel');

        //select a faq section
        faqssections.on('click', function (event) {
            event.preventDefault();
            var selectedHref = $(this).attr('href'),
                target = $(selectedHref);
            if ($(window).width() < MqM) {
                faqsContainer.scrollTop(0).addClass('slide-in').children('ul').removeClass('selected').end().children(selectedHref).addClass('selected');
                closeFaqsContainer.addClass('move-left');
                $('body').addClass('cd-overlay');
            } else {
                $('body,html').animate({ 'scrollTop': target.offset().top - 19 }, 200);
            }
        });

        //close faq lateral panel - mobile only
        $('body').bind('click touchstart', function (event) {
            if ($(event.target).is('body.cd-overlay') || $(event.target).is('.cd-close-panel')) {
                closePanel(event);
            }
        });
        faqsContainer.on('swiperight', function (event) {
            closePanel(event);
        });


        //faqTrigger.on('click', function (event) {
        //    event.preventDefault();
        //    $(this).next('.faq-content').slideToggle(200).end().parent('li').toggleClass('content-visible');
        //});

        $(window).on('scroll', function () {
            if ($(window).width() > MqL) {
                (!window.requestAnimationFrame) ? updateCategory() : window.requestAnimationFrame(updateCategory);
            }
        });

        $(window).on('resize', function () {
            if ($(window).width() <= MqL) {
                faqssectionsContainer.removeClass('is-fixed').css({
                    '-moz-transform': 'translateY(0)',
                    '-webkit-transform': 'translateY(0)',
                    '-ms-transform': 'translateY(0)',
                    '-o-transform': 'translateY(0)',
                    'transform': 'translateY(0)',
                });
            }
            if (faqssectionsContainer.hasClass('is-fixed')) {
                faqssectionsContainer.css({
                    'left': faqsContainer.offset().left,
                });
            }
        });

        function closePanel(e) {
            e.preventDefault();
            faqsContainer.removeClass('slide-in').find('li').show();
            closeFaqsContainer.removeClass('move-left');
            $('body').removeClass('cd-overlay');
        }

        function updateCategory() {
            updateCategoryPosition();
            updateSelectedCategory();
        }

        function updateCategoryPosition() {
            var top = $('.faq').offset().top,
                height = jQuery('.faq').height() - jQuery('.sections').height(),
                margin = 20;
            if (top - margin <= $(window).scrollTop() && top - margin + height > $(window).scrollTop()) {
                var leftValue = faqssectionsContainer.offset().left,
                    widthValue = faqssectionsContainer.width();
                faqssectionsContainer.addClass('is-fixed').css({
                    'left': leftValue,
                    'top': margin,
                    '-moz-transform': 'translateZ(0)',
                    '-webkit-transform': 'translateZ(0)',
                    '-ms-transform': 'translateZ(0)',
                    '-o-transform': 'translateZ(0)',
                    'transform': 'translateZ(0)',
                });
            } else if (top - margin + height <= $(window).scrollTop()) {
                var delta = top - margin + height - $(window).scrollTop();
                faqssectionsContainer.css({
                    '-moz-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-webkit-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-ms-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-o-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    'transform': 'translateZ(0) translateY(' + delta + 'px)',
                });
            } else {
                faqssectionsContainer.removeClass('is-fixed').css({
                    'left': 0,
                    'top': 0,
                });
            }
        }

        function updateSelectedCategory() {
            faqsSections.each(function () {
                var actual = $(this),
                    margin = parseInt($('.resource-title').eq(1).css('marginTop').replace('px', '')),
                    activeCategory = $('.sections a[href="#' + actual.attr('id') + '"]'),
                    topSection = (activeCategory.parent('li').is(':first-child')) ? 0 : Math.round(actual.offset().top);

                if ((topSection - 20 <= $(window).scrollTop()) && (Math.round(actual.offset().top) + actual.height() + margin - 20 > $(window).scrollTop())) {
                    activeCategory.addClass('selected');
                } else {
                    activeCategory.removeClass('selected');
                }
            });
        }
    });</script>


