
@{
    ViewBag.Title = "FAQs | TrialScout Awards";
    Layout = "~/Views/Shared/_LayoutContentPages.cshtml";
}

@Styles.Render("~/Content/FAQ.css")

<div class="trsc-top-header">
    <h2 class="content-page-headings-FAQs">TrialScout Awards FAQs</h2>
    <h2 class="content-page-headings-mobile">FAQs</h2>
</div>
<section class="faq">
    <ul class="categories">
        <li><a class="selected" href="#top50">About The TrialScout Top 50 Awards</a></li>
        <li><a href="#selection">About Hospital Selection</a></li>
        <li><a href="#other">More Information</a></li>
    </ul> <!-- categories -->

    <div class="faq-items">
        <ul id="top50" class="faq-group">
            <li class="faq-title"><h2>About The TrialScout Top 50 Awards</h2></li>
            <li>
                <a class="trigger" href="#0">What is the TrialScout Top 50?</a>
                <div class="faq-content">
                    <p>The TrialScout Excellence in Clinical Research Top 50 Hospitals was established to recognize the elite clinical research programs driving American healthcare forward. Hospitals are selected based on their exceptional performance in patient experience, proven expertise in clinical research, quality of care, and superior clinical research facilities.</p>
                    <p>
                        We have taken publicly available datasets and ran them through our proprietary algorithm to develop our ratings. We do not identify the exact ranking of the hospitals who fall within the Top 50 since this is part of our intellectual property. This annual list of recognized hospitals is compiled using publicly available datasets which were then ran through our proprietary algorithm. Hospitals do not “pay to play”.
                    </p>
                    <ul>
                        <li><u>Exceptional Performance</u> is derived from the publicly available database published by <b>Center from Medicare/Medicaid Service (CMS)</b></li>
                        <li><u>Quality of Care</u> is derived from the publicly available dataset published by <b>Center from Medicare/Medicaid Service (CMS)</b></li>
                        <li><u>Superior Clinical Research Facilities</u> is derived from the publicly available database published by <b>Department of Homeland Security (DHS)</b></li>
                        <li><u>Proven Expertise in Clinical Research</u> is derived from the publicly available dataset published by <b>Clinicaltrials.gov</b></li>
                    </ul>
                    <p>We also have content to help you learn about clinical research and why it should be considered as a care option.</p>

                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">Was the TrialScout Top 50 Award Audited?</a>
                <div class="faq-content">
                    <p>Our external auditors were provided and maintained the award winners list prior to the award winners being publicly declared.</p>
                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">What is TrialScout?</a>
                <div class="faq-content">
                    <p>TrialScout is the first ever ratings and reviews platform to empower patients seeking, considering or already participating in clinical research. TrialScout provides peer-to-peer decision support and education and is the first platform to give research participants an ongoing voice throughout their journey. Built by experts in the healthcare, clinical research and customer insights industries, TrialScout is the innovation millions of Americans who have participated in clinical research have been waiting for.</p>
                </div> <!-- faq-content -->
            </li>
        </ul> <!-- faq-group -->

        <ul id="selection" class="faq-group">
            <li class="faq-title"><h2>About Hospital Selection</h2></li>
            <li>
                <a class="trigger" href="#0">How were hospitals selected?</a>
                <div class="faq-content">
 
                    <p>Hospitals were selected based directly on their superb composite score generated from TrialScout’s comprehensive clinical research global dataset. The composite score was assembled with data collected from all active United States clinical research institutions and linked to numerous, other publicly available data sets, as well as ongoing, real-time direct patient feedback.</p>

                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">Why was my hospital not selected?</a>
                <div class="faq-content">
                    <p>Your hospital was not selected for one of two reasons:</p>
                    <ol>
                        <li>You are part of a hospital system that did not make the Top 50 </li>
                        <li>The health system that your hospital is a part of did make the Top 50, but we selected the flagship research facility within that health system. Should you wish to further discuss or appeal this decision, please contact Rachael Pollinger at rpollinger@trialscout.com</li>

                    </ol>
                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">How did you determine the flagship research facility? </a>
                <div class="faq-content">
                    <p>According to our publicly available datasets, we determined the hospital within that health system that performs the most clinical research. That hospital is then deemed the flagship research facility. </p>

                </div> <!-- faq-content -->
            </li>         
        </ul> <!-- faq-group -->

        <ul id="other" class="faq-group">
            <li class="faq-title"><h2>More Information</h2></li>
            <li>
                <a class="trigger" href="#0">Why are you charging us for data that is publicly available?</a>
                <div class="faq-content">
                    <p>Based on our close ties with the founders of Healthgrades, we have unique insight into this process. Charging for awards licensing for purposes of marketing is an industry standard practice. </p>
                    <p>We have taken publicly available datasets and ran them through our proprietary algorithm to develop our Top 50 list. We do not identify the exact ranking of the hospitals who fall within the Top 50 since this is part of our intellectual property. This inaugural award in an objective third party listing that we have completed using publicly available dataset and running those datasets through our proprietary algorithm.
                    </p>
                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">Is there going to be an announcement of the awards?</a>
                <div class="faq-content">
                    <p>TrialScout will issue a national press release announcing the award on Wednesday, July 31st, 2019. Should a hospital purchase a license of the award, TrialScout’s communications department will work with the hospital’s media relations department to develop an additional joint press release to send out in the hospital’s local area.</p>
                </div> <!-- faq-content -->
            </li>

            <li>
                <a class="trigger" href="#0">Is there a fee associated with this award?</a>
                <div class="faq-content">
                    <p>There is no charge for being awarded as a TrialScout™ Excellence in Clinical Research Top 50 Hospital for 2019. Hospitals are named to the Top 50 list based on their score obtained by our independent algorithm. The TrialScout top 50 list is copy written material and many not be used without licensing. To see the different licensing levels, click here. If you are interested in licensing the TrialScout Top 50 for any marketing or promotional materials, please contact Rachael Pollinger at rpollinger@trialscout.com.</p>
                </div> <!-- faq-content -->
            </li>
        </ul> <!-- faq-group -->
    </div> <!-- faq-items -->
    <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- faq -->

<script>
    jQuery(document).ready(function ($) {

        var MqM = 992,
            MqL = 1024;

        var faqsSections = $('.faq-group'),
            faqTrigger = $('.trigger'),
            faqsContainer = $('.faq-items'),
            faqsCategoriesContainer = $('.categories'),
            faqsCategories = faqsCategoriesContainer.find('a'),
            closeFaqsContainer = $('.cd-close-panel');

        //select a faq section
        faqsCategories.on('click', function (event) {
            event.preventDefault();
            var selectedHref = $(this).attr('href'),
                target = $(selectedHref);
            if ($(window).width() < MqM) {
                faqsContainer.scrollTop(0).addClass('slide-in').children('ul').removeClass('selected').end().children(selectedHref).addClass('selected');
                closeFaqsContainer.addClass('move-left');
                $('body').addClass('cd-overlay');
            } else {
                $('body,html').animate({ 'scrollTop': target.offset().top - 19 }, 200);
            }
        });

        //close faq lateral panel - mobile only
        $('body').bind('click touchstart', function (event) {
            if ($(event.target).is('body.cd-overlay') || $(event.target).is('.cd-close-panel')) {
                closePanel(event);
            }
        });
        faqsContainer.on('swiperight', function (event) {
            closePanel(event);
        });


        faqTrigger.on('click', function (event) {
            event.preventDefault();
            $(this).next('.faq-content').slideToggle(200).end().parent('li').toggleClass('content-visible');
        });

        $(window).on('scroll', function () {
            if ($(window).width() > MqL) {
                (!window.requestAnimationFrame) ? updateCategory() : window.requestAnimationFrame(updateCategory);
            }
        });

        $(window).on('resize', function () {
            if ($(window).width() <= MqL) {
                faqsCategoriesContainer.removeClass('is-fixed').css({
                    '-moz-transform': 'translateY(0)',
                    '-webkit-transform': 'translateY(0)',
                    '-ms-transform': 'translateY(0)',
                    '-o-transform': 'translateY(0)',
                    'transform': 'translateY(0)',
                });
            }
            if (faqsCategoriesContainer.hasClass('is-fixed')) {
                faqsCategoriesContainer.css({
                    'left': faqsContainer.offset().left,
                });
            }
        });

        function closePanel(e) {
            e.preventDefault();
            faqsContainer.removeClass('slide-in').find('li').show();
            closeFaqsContainer.removeClass('move-left');
            $('body').removeClass('cd-overlay');
        }

        function updateCategory() {
            updateCategoryPosition();
            updateSelectedCategory();
        }

        function updateCategoryPosition() {
            var top = $('.faq').offset().top,
                height = jQuery('.faq').height() - jQuery('.categories').height(),
                margin = 20;
            if (top - margin <= $(window).scrollTop() && top - margin + height > $(window).scrollTop()) {
                var leftValue = faqsCategoriesContainer.offset().left,
                    widthValue = faqsCategoriesContainer.width();
                faqsCategoriesContainer.addClass('is-fixed').css({
                    'left': leftValue,
                    'top': margin,
                    '-moz-transform': 'translateZ(0)',
                    '-webkit-transform': 'translateZ(0)',
                    '-ms-transform': 'translateZ(0)',
                    '-o-transform': 'translateZ(0)',
                    'transform': 'translateZ(0)',
                });
            } else if (top - margin + height <= $(window).scrollTop()) {
                var delta = top - margin + height - $(window).scrollTop();
                faqsCategoriesContainer.css({
                    '-moz-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-webkit-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-ms-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    '-o-transform': 'translateZ(0) translateY(' + delta + 'px)',
                    'transform': 'translateZ(0) translateY(' + delta + 'px)',
                });
            } else {
                faqsCategoriesContainer.removeClass('is-fixed').css({
                    'left': 0,
                    'top': 0,
                });
            }
        }

        function updateSelectedCategory() {
            faqsSections.each(function () {
                var actual = $(this),
                    margin = parseInt($('.faq-title').eq(1).css('marginTop').replace('px', '')),
                    activeCategory = $('.categories a[href="#' + actual.attr('id') + '"]'),
                    topSection = (activeCategory.parent('li').is(':first-child')) ? 0 : Math.round(actual.offset().top);

                if ((topSection - 20 <= $(window).scrollTop()) && (Math.round(actual.offset().top) + actual.height() + margin - 20 > $(window).scrollTop())) {
                    activeCategory.addClass('selected');
                } else {
                    activeCategory.removeClass('selected');
                }
            });
        }
    });</script>

