@{
    ViewBag.Title = "Transparency Policy";
    Layout = "~/Views/Shared/_LayoutContentPages.cshtml";
}
<div class="trsc-top-gradient-simple-content">
    <div class="container">
        <h2>Transparency</h2>
    </div>
</div>


<div class="container trsc-ct101">
    <p>
        If you’ve had the opportunity to read a little bit about TrialScout™ and
        what our story is, you’ll see that total transparency is at our core. In
        keeping with the theme of transparency, we want all of our viewers and
        partners to know that respecting the rights and welfare of all people is
        also at our core. In addition to the team of doctors, nurses, researchers
        and computer scientists at ™ there is also an entire team dedicated to
        ensuring that TrialScout™ is compliant with Federal and local regulations,
        as well as ensuring your rights are protected.
    </p>
    <p>
        <strong>What is an IRB?</strong>
    </p>
    <p>
        In clinical research, and as required by FDA regulation, there is a group
        of qualified and hand selected people that have been formally designated to
        review and monitor clinical research that involves humans as participants.
        This group of people make up what is called an Institutional Review Board
        (IRB). The purpose of the IRB is to ensure appropriate steps are taken to
        protect the rights and welfare of humans participating in research. The IRB
        does this by reviewing the research protocols and all materials related to
        the research.
    </p>
    <p>
        <a name="_Hlk518569003">
            <strong>Is TrialScout™ a Recruitment Company?</strong>
        </a>
    </p>
    <p>
        TrialScout™ is <u>not</u> a participant recruitment company, instead we are
        dedicated to:
    </p>
    <p>
        · helping you learn more about clinical research
    </p>
    <p>
        · providing access to information about clinical trials that may be right
        you for you
    </p>
    <p>
        · providing a space where participants can freely give feedback on their
        clinical trial experience
    </p>
    <p>
        The IRB not only reviews the research protocol and related materials, but
        also the methods and materials that are used to recruit potential
        participants, like yourself, into clinical trials. There are many materials
        that are required to be reviewed by the IRB, materials such as newspaper
        ads, radio and TV ads, bulletin boards, posters, and flyers that are
        intended to recruit participants. However, there are some materials that do
        not need to be reviewed by the IRB and these types of materials are: news
        stories, communications intended to be seen by health professionals, and
        clinical trial listings that contain basic trial information.
    </p>
    <p>
        TrialScout™ provides you with easy access to clinical trial listings that
        already exist on the internet. As a result, in keeping with regulations and
        our vision of transparency, the information provided on TrialScout™ has
        not, nor is it required to be, reviewed by an IRB. We simply present
        pre-existing information on a platform that also provides information on
        the research facilities conducting trials. To date, this pairing has never
        existed and TrialScout™ is proud to offer participants the ability to
        receive more information about clinical trial participation than ever
        before.
    </p>
    <p>
        <strong>Does TrialScout™ accept Referral or Finder’s Fees?</strong>
    </p>
    <p>
        Over the years, referring participants into clinical trials for a fee has
        been a topic of heated debate. Due to the fact that the FDA does not
        specifically address fee arrangements, it has been up to various parties
        (institutions, sponsors, investigators, IRBs, etc) to define referral or
        finder’s fees and establish whether or not it is ethical. TrialScout™ is
        not here to define those terms, however, in the spirit of transparency, we
        want our viewers and partners to know that we do <u>not</u> accept any type
        of fee for the referral or enrollment of participants in clinical trials.
    </p>
    <p>
        You may have noticed that there are research centers that have more
        information than others. These research centers are considered partners
        with TrialScout™ and they have become a partner by paying to have more
        information about their center displayed. These partners are eager to prove
        themselves to you as a positive clinical trial experience. However, it is
        important to note that your peers and past participants have the ability to
        rate all research centers available on TrialScout™. Unfortunately, just
        because a research center is a partner does not mean participants have
        provided the center with a high rating. It is through this process that we
        hope to provide you with access to a clinical trial and a research center
        that is right for you.
    </p>
</div>