<div class="searchBar">
    <div class="homeSearch row" style="background-color:#fff;">
        <div class="col-sm-12 col-md-12 col-lg-10 searchbarinput inputrad" id="locateResearchCenterDiv">
            <input type="hidden" id="viewId" name="viewId" />
            <input type="hidden" id="locateResearchCenterName" name="locateResearchCenterName" />
            <input type="hidden" id="locateResearchCenterId" name="locateResearchCenterId" class="form-control" />
            <input type="text" id="locateResearchCenterDisplayName" name="locateResearchCenterDisplayName" class="form-control" placeholder= "@Resources.RateCenterInputPlaceholder" autocomplete="off" />

        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 searchbarbtn">
            <button id="locateCenter" style="height:100%;float:right;" class="btn btn-success ratingbtn" data-url="@Url.Action("", "ResearchSite")"><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>
<div class="container header_third">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-3"></div>
        <div class="col-sm-10 col-md-10 col-lg-9">
            <div class="row">
                <div class="col-sm-5 offset-sm-7 col-md-8 offset-md-5 col-lg-5 offset-lg-7 headthirdTXT" style="padding-right: 0px;">
                    <p style="text-align:right;">Don't see your research center? <a href="~/Home/ContactUs">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>
</div>