<div class="row trsc-nest-icons" id="nestHeaderDiv">
    <div class="col-12">
        <img src="~/Content/images/icons/the-nest.svg" alt="Nest Image" />
        <div>
            <h4>Welcome to The Nest</h4>
            <p>Everything You Need to Know</p>
        </div>
    </div>
</div>

<div class="row trsc-nest-icons" style="margin-top:30px; margin-bottom:30px;">
    <div class="col-12 col-md-3">
        <a href="~/TheNest/FAQs">
            <p><img src="~/Content/images/icons/faqs.svg" alt="FAQ Image" /></p>
            <h6>FAQs</h6>
            <p>Common questions <br /> shared by others </p>
        </a>
    </div>
    <div class="col-12 col-md-3">
        <a href="~/TheNest/ClinicalResearch101">
            <p><img src="~/Content/images/icons/clinical-research-101.svg" alt="Clinical Research 101 Image" /></p>
            <h6>Clinical Research 101</h6>
            <p>Learn the basics<br /> and get started</p>
        </a>
    </div>
    <div class="col-12 col-md-3">
        <a href="~/TheNest/Definitions">
            <img src="~/Content/images/icons/definitions.svg" alt="Definitions Image" />
            <h6>Definitions</h6>
            <p>Terms often used in <br /> clinical trials</p>
        </a>
    </div>
    @*<div class="col-12 col-md-3">
            <a href="#">
                <p><img src="~/Content/images/icons/testimonials.svg" alt="Testimonials Image" /></p>
                <h6>Testimonials</h6>
                <p>Learn how TrialScout <br /> has helped others</p>
            </a>
        </div>*@
    <div class="col-12 col-md-3">
            <a href="https://blog.trialscout.com/clinical-trials-patients">
                <p><img src="~/Content/images/icons/useful-forms.svg" alt="Articles Image" /></p>
                <h6>Blog</h6>
                <p>Discover useful <br /> articles &amp; videos</p>
            </a>
        </div>
    @*<div class="col-12 col-md-auto">
            <p><img src="~/Content/images/icons/useful-forms.svg" alt="Forms Image" /></p>
            <h6>Useful Forms</h6>
            <p>Forms to help you <br /> along the way</p>
        </div>*@
</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="~/TheNest" class="btn btn-primary trsc-visit-the-nest">Visit the Nest</a>
    </div>
</div>
