<!--
   1. Create basic table to display data
   2. For Table Row, use *ngFor to tell table to display as many rows as there are customers
   3. 

-->
<div class="container">
<h1>CUSTOMERS</h1>

<table class="table table-striped">
  <thead>
    <tr>
  <th>ID</th>
  <th>First Name</th>
  <th>Last Name</th>
</tr>
</thead>
<tbody>
  <tr *ngFor = "let customer of customers; trackBy:customers.id">
     <td>{{customer.id}}</td>
     <td>{{customer.firstname}}</td>
     <td>{{customer.lastname}}</td>
  </tr>
</tbody>
</table>
<br/>
<div class="text-left">
  <!-- open a modal window by clicking button-->
  <button type="submit" class="btn btn-primary" (click)="openModal()">Add New</button>
</div>
</div>




<!-- Modal for adding new customer -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

 <div class="modal-dialog" role="document">

   <div class="modal-content">

     <div class="modal-header">       

       <h4 class="modal-title">Add New Customer</h4>

     </div>

     <div class="modal-body">

       <form id = "formNewCustomer" name = "formNewCustomer" #customerData = "ngForm" (ngSubmit) = "addNewCustomer(customerData.value)">
          <label>First Name: </label>&nbsp;<input type ="text" class="form-control" name = "firstname" id = "firstname" placeholder="First Name" ngModel><br>
          <label>Last Name: </label>&nbsp;<input type ="text" class="form-control" name = "lastname" id = "lastname" placeholder="Last Name" ngModel><br>
       </form>


     </div>

     <div class="modal-footer">
       <button type="button" class="btn btn-danger" (click)="onCloseHandled()" >Close</button>
       <button class="btn btn-success" (click)="customerData.ngSubmit.emit()" [disabled]="!customerData.form.valid">Add Customer</button>

     </div>

   </div><!-- /.modal-content -->

 </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->